<?xml version="1.0" encoding="UTF-8"?> 
    <rss version="2.0" 
        xmlns:dc="http://purl.org/dc/elements/1.1/"                                                                                                                                                                                                                                                                                                                   
        xmlns:media="http://search.yahoo.com/mrss/"
        xmlns:atom="http://www.w3.org/2005/Atom"
        xmlns:content="http://purl.org/rss/1.0/modules/content/"
        xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
        xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    > 
    <channel> 
        <title>reddit.com/r/{{subreddit}}</title> 
        <link>{{canonical}}</link>
        <description>custom feed for /r/{{subreddit}}, made by Jesus, AKA Scott Oloier</description> 
        <language>en-us</language>
    
		{{#each items}}
        <item>
            <title>{{this.title}}</title>
            <link>{{this.link}}</link>
            <pubDate>{{this.pubDate}}</pubDate>
            <content:encoded><![CDATA[
				<div>
					<a href="{{this.permalink}}">View Comments or SelfPost / ForceTouch for iOS App</a>
				</div>
				<p>
					<small><b>{{this.domain}}</b> &ndash; posted by <em>{{this.author}}</em></small>
				</p>
				{{{this.content}}}
			]]></content:encoded>
        </item>
		{{/each}}

		
