<?xml version="1.0" encoding="UTF-8"?> 
	rss(version="2.0"
		xmlns:dc="http://purl.org/dc/elements/1.1/"
		xmlns:media="http://search.yahoo.com/mrss/"
		xmlns:atom="http://www.w3.org/2005/Atom"
		xmlns:content="http://purl.org/rss/1.0/modules/content/"
		xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
		)
		channel
			title /r/#{subreddit}
			//- link #{link}
			description custom feed for /r/#{subreddit}
			language en-us

			each item in data.items
				item
					title= item.item.title
					link= item.item.url
					pubDate= new Date(item.item.created_utc * 1000)
					content:encoded !{item.content}
					//- content:encoded <![CDATA[!{item.content}]]
					
				